$primary: #672779;// #BD34D1;
$primary-ligth: #d371ee;
$black: #000000;
$black-title: #202020;
$black-light-1: #40403e;
$black-light-2: #434343;
$black-light-3: #444359;
$black-light-4: #4b4a5e;
$black-greenish: #24292e;
$gray-disabled: #C4C4C4;
$gray-light: #ccc;
$gray-input-disabled: #c0c0c0;
$gray-dark: #7F7E7E; // for secondary text and placeholders
$gray-bluish: #7e8299;
$gray-header: #e6e6e6;
$gray-bubble: #F3F6F9;
$blue-logo: #00ADEE;
$blue-dark: #6558F5;

$green-toast-success-b: #79BDA6;
$green-sucess: #1AAE9F;
$green-sucess-table: #d9f1e2;
$green-toast-success-bg: #E6F3EE;

$red-toast-error-b: #EFA1A1;
$red-toast-error-bg: #FBE5E5;

$yellow-toast-warn-b: #FFE5A5;
$yellow-light: #fff4de;
$yellow-toast-warn-bg: #FFF9EC;
$yellow-dark: #ffa800;
$yellow-warning-table: #f7f7e3b3;


$white: #FFFFFF;
$white-bluish: #ECECF6;
$red-error: #EB4444;
$purple: #882353; // #c51edf; // radio and checkbox fill color
$purple-dark: #BD34D1;
$purple-bluish-1: #9D9FEA;
$purple-bluish-2: #e9e4f0;
$purple-bluish-3: #d3cce3;
