<footer class=" footer">
    <div class=" container-fluid">
        <ul class=" nav">
            <li class=" nav-item">
                <a class=" nav-link" href="">
          
        </a>
            </li>
            <li class=" nav-item">
                <a class=" nav-link" href="">
          
        </a>
            </li>
            <li class=" nav-item">
                <a class=" nav-link" href="">  </a>
            </li>
        </ul>
        <div class=" copyright">
            &copy; {{ test | date: "yyyy" }} 
        </div>
    </div>
</footer>
