@import 'bootstrap/scss/bootstrap';
@import '~ag-grid-community/styles/ag-grid.css';
@import '~ag-grid-community/styles/ag-theme-quartz.css';
@import "/node_modules/bootstrap/scss/bootstrap";
@import "/node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "assets/sass/abstracts/functions";
@import "assets/sass/abstracts/mixins";
@import "assets/sass/abstracts/colors";
@import "assets/sass/abstracts/variables";
@import "assets/sass/base/animations";
@import "assets/sass/base/typography";
@import "assets/sass/base/utilities";
@import "assets/sass/components/button";
@import "assets/sass/components/form";
@import "assets/sass/components/select";
@import "assets/sass/components/checkbox";
@import "assets/sass/components/modal";
@import "assets/sass/components/grid";
@import "assets/sass/components/toastr";
@import "assets/sass/components/sweet-alert";
@import "assets/sass/components/scenario-draggable-list";
@import "assets/scss/black-dashboard/custom/vendor/plugin-perfect-scrollbar";
@import "assets/scss/black-dashboard/custom/vendor/plugin-animate-bootstrap-notify";
@import "/node_modules/angular-notifier/styles.css";
@import "/node_modules/font-awesome/css/font-awesome.min.css";
@import "/node_modules/@ng-select/ng-select/themes/default.theme.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}